@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* /for firefox/ */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #464545;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 14px;
  border: 3px solid var(gray);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(gray);
}

input:focus {
  outline: fuchsia;
}

input {
  background-color: #00000000;
}
/* input:-internal-autofill-selected {
  background-color: none !important;
} */

/* Override browser autofill styles */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s; /* Adjust as needed */
}

/* Set the background color to white for the autofill area */
input:-webkit-autofill {
  box-shadow: 0 0 0 1000px transparent inset !important;
}

.uploadReviewTextArea :focus {
  outline: none;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fadeInClose{
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fadeInOpen {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.animate-fadeInOpen { 
  animation: fadeInOpen 500ms ease-out;
}
.animate-fadeInClose {
  animation: fadeInClose 500ms ease-in;
}

.animate-fadeInRight {
  animation: fadeInRight 1000ms ease-out;
}
.animate-fadeInLeft {
  animation: fadeInLeft 1000ms ease-out;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.animate-slide-in {
  animation: slideIn 0.3s ease-in-out;
}

.animate-slide-out {
  animation: slideOut 0.3s ease-in-out;
}

/* 
@keyframes fadeInTop {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
} */

.animate-fadeInTop {
  animation: fadeInTop 1000ms 1;
}

@keyframes fadeInTop {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInBottom {
  animation: fadeInBottom 500ms 1;
}

@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* .animate-fadeInTop {
  animation: fadeInTop 750ms ease-out;
} */

.animate-spin {
  animation: spin 5s linear 1;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-popUp {
  animation: popUp 1s 1;
}

@keyframes popUp {
  from {
    transform : scale(50%);
  }
  to {
    
    transform: scale(100%);
  }
}

.animate-float {
  animation: float 5s linear infinite ;
}
@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px); /* Adjust the distance the element moves */
  }
}
.animate-bounce-once {
  animation: bounceOnce 500ms 1 ease-in;
}
@keyframes bounceOnce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
.animate-bounce {
  animation: bounce 1s infinite;
}

@keyframes spinner-fzua35 {
  0%,
  10%,
  20%,
  30%,
  50%,
  60%,
  70%,
  80%,
  90%,
  100% {
    transform: rotate(calc(var(--rotation) * 1deg))
      translate(0, calc(var(--translation) * 1%));
  }

  50% {
    transform: rotate(calc(var(--rotation) * 1deg))
      translate(0, calc(var(--translation) * 1.5%));
  }
}

.animate-spinnerEven {
  animation: spinner-fzua35 1s calc(var(--delay) * 1s) infinite ease;
}

.animate-spinnerOdd {
  animation: spinner-fzua35 1s calc(var(--delay) * 1s + 0.5s) infinite ease;
}
